<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%>Blogging for fun</title>
  <%= javascript_include_tag "https://js.stripe.com/v1/"%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<%end%>
	</div>
	</div>
		<%= yield %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
	<%= render 'layouts/footer'%>
</html>
